name: Udpate
on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch: ~
permissions:
  contents: write
  pull-requests: write
jobs:
  run:
    runs-on: ubuntu-24.04
    steps:
      - name: Install 0install
        run: |
          sudo apt-get update 
          sudo apt-get install 0install
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          submodules: true
      - name: Run update
        run: ./bin/update.sh "${{ matrix.app }}"
      - name: Create pull request
        uses: peter-evans/create-pull-request@v7.0.8
        with:
          commit-message: Update ${{ matrix.app }}
          body: Update ${{ matrix.app }}
          author: github-actions <41898282+github-actions[bot]@users.noreply.github.com>
          branch: update/${{ matrix.app }}.xml
          title: Update ${{ matrix.app }}
    strategy:
      fail-fast: false
      matrix:
        app:
          - 2-ship-2-harkinian
          - ap-proxy
          - ap-sudoku
          - archipelago
          - archipelago-retro-arch-client
          - openmw
          - openmw/momw-post-processing-pack
          - openmw/ncgdmw-lua-edition
          - ship-of-harkinian
